*{
    margin: 0;
    padding: 0;
}

#navbar{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbarTopo{
    position: absolute;
    top: -5%;
}

.navbarTopo img{
    width: 13vw;

}

.navbarCenter{
    position: absolute;
    top: 20%;
}

.navbarCenter h1{
    color: white;
    font-size: 40px;
    margin-top: -4vh;
    margin-bottom: 3vh;
}

.navbarBotaoLogin{
    top: 3%;
    position: absolute;
    right: 4%;
}

.navbarBotaoLogin a{
    color: white;
    text-decoration: none;
}

.navbarBotaoLogin button{
    background-color: white;
    border: none;
    border-radius: 15px;
    width: 5vw;
    height: 5vh;
}

.navbarImgFundo img{
    width: 100vw;
}

.navbarInput{
    display: flex;
    justify-content: center;
}

.navbarInput input{
    width: 20vw;
    height: 5vh;
    border-radius: 15px;
    border: none;
    margin-bottom: 2vh;
}

.gps i{
    position: absolute;
    color: grey;
    margin-right: -15vw;
    margin-top: 1vh;
}

.endereçoEntrega input::placeholder{
    padding-left: 1.5vw;
}

.navbarlinkCenter{
    display: flex;
    justify-content: center;
}

.inputBotao button{
    background-color: red;
    width: 2vw;
    height: 5vh;
    border-radius: 50%;
    border: none;
    margin-left: -2.1vw;
}

.navbarlinkCenter a{
    color: white;
}
